
.slider {
    vertical-align:middle;
}

.component span:nth-of-type(2) {
    display:inline-block;
    width:3em;
    text-align:right;
}

.swatch{
    display: inline-block;
    border: solid 1px black;
    margin: 0 0 0 1em;
    height: 4em;
    width: 5em;
}

.swatch2 {
    display:inline-block;
    border:solid 1px black;
    margin:1em 1em 1em 1em;
    height:4em;
    width:5em;
}

.saveButton {
    display: block;
    margin: 1em 0 0 20em;
}

.removeButtonStyle {
    margin: 3px 0 0 3px;
}
.components {
    display:inline-block;
    height:100%;
}

.colorPicker {
    display:inline-block;
    border:solid 5px lightgrey;
    border-radius:10px;
    padding:10px;
}
