ul.checklist {
    list-style-type: none;
    padding: 0;
}

ul.checklist li {
    background-image: url('../fotos/legevak.png');
    background-size: 16px 16px; /* Pas de grootte van het icoon aan zoals gewenst */
    background-repeat: no-repeat;
    background-position: 0 2px; /* Positie van het icoon */
    padding-left: 20px; /* Ruimte tussen het icoon en de tekst */
    margin-bottom: 5px; /* Ruimte tussen de lijstitems */
}

ul.checklist li.checked {
    background-image: url('../fotos/vinkje.jpg');
    background-size: 16px 16px; /* Pas de grootte van het icoon aan zoals gewenst */
    background-repeat: no-repeat;
    background-position: 0 2px; /* Positie van het icoon */
    padding-left: 20px; /* Ruimte tussen het icoon en de tekst */
    margin-bottom: 5px; /* Ruimte tussen de lijstitems */
}

