#greenBlock {
    width: 500px;
    height: 300px;
    background-color: darkseagreen;

    /* Verwijder de margin eigenschap */
    /* margin: 0px auto; */

    /* Voeg de absolute positionering toe */
    position: absolute;

    /* Gebruik calc om de afstand vanaf de linkerzijkant te berekenen */
    left: calc(50% - 250px); /* 50% van het scherm breedte minus helft van de blok breedte */
}
